{{#if addNewMessage}}
  <h1>New Message</h1>
  <div>
    <form>
      <label for="message">Message</label>
      {{input value=message id="message"}}
      <button {{action 'saveMessage'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'messageFormShow'}}>New Message</button>
{{/if}}
